@model BugTracker.Models.ViewModels.BugDetailVm
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item"><a asp-controller="Projects" asp-action="Index">Projects</a></li>
    <li class="breadcrumb-item"><a asp-controller="Projects" asp-action="Detail" asp-route-id="@Model.ProjectId">@Model.ProjectName</a></li>
    <li class="breadcrumb-item active">@Model.Bug.Title</li>
</ol>

<div class="card border-primary m-3">
    <div class="card-header">Bug #@Model.Bug.Id  -  @await Html.PartialAsync("_BugStatus", Model.Bug.Status) </div>
    <div class="card-body">
        <h2 class="card-title">@Model.Bug.Title</h2>
        <p class="card-subtitle text-muted">@Model.Bug.DateSubmitted</p>
        <p class="card-text">@Model.Bug.Description</p>
        <p class="card-text">Assigned To: @Model.Bug.Assignee - Targeted Completion: @Model.Bug.DateTargeted.ToShortDateString()</p>
    </div>
</div>

<h4 class="ml-3">Comments</h4>

<div class="container">
    @foreach (var comment in Model.Bug.Comments)
    {
        <div class="card border-secondary mb-2" style="max-width: 30rem;">
            <div class="card-header text-muted">@comment.TimeStamp</div>
            <div class="card-body">
                <b class="card-title">@comment.SubmittedBy</b>
                <p class="card-text">@comment.Text</p>
            </div>
        </div>
    }

    <div class="card border-secondary mb-2" style="max-width: 30rem">
        <div class="card-header">New Comment</div>
        <div class="card-body">
            <b class="card-title mb-2">TODO: Current User</b>
            <div>
                <input class="mb-2" type ="text">
            </div>
            <button class="btn btn-primary">Save</button>
        </div>
    </div>
</div>