@model BugTracker.Models.ViewModels.BugDetailVm
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Model.Bug.Title</h3>

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item"><a asp-controller="Projects" asp-action="Index">Projects</a></li>
    <li class="breadcrumb-item"><a asp-controller="Projects" asp-action="Detail" asp-route-id="@Model.ProjectId">@Model.ProjectName</a></li>
    <li class="breadcrumb-item active">@Model.Bug.Title</li>
</ol>

<div class="container">
    <span class="badge badge-info">@Model.Bug.DateSubmitted</span>
    <span class="badge badge-info">@Model.Bug.ProjectId</span>
    <span class="badge badge-info">@Model.Bug.Status</span>
</div>

<div class="container">
    
</div>