@model BugTracker.Models.ViewModels.BugDetailVm
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Model.Bug.Title</h3>

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item"><a asp-controller="Projects" asp-action="Index">Projects</a></li>
    <li class="breadcrumb-item"><a asp-controller="Projects" asp-action="Detail" asp-route-id="@Model.ProjectId">@Model.ProjectName</a></li>
    <li class="breadcrumb-item active">@Model.Bug.Title</li>
</ol>

<div class="container">
    <span class="badge badge-info">@Model.Bug.DateSubmitted</span>
    <span class="badge badge-info">@Model.Bug.ProjectId</span>
    <span class="badge badge-info">@Model.Bug.Status</span>
</div>

<div class="container">
    @foreach (var comment in Model.Bug.Comments)
    {
        <div class="card border-primary mb-3">
            <div class="card-header">@comment.TimeStamp</div>
            <div class="card-body">
                <h2 class="card-title">@comment.SubmittedBy</h2>
                <p class="card-text">@comment.Text</p>
            </div>
        </div>
    }
</div>