@model BugTracker.Models.ViewModels.BugDetailVm
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item"><a asp-controller="Projects" asp-action="Index">Projects</a></li>
    <li class="breadcrumb-item"><a asp-controller="Projects" asp-action="Detail" asp-route-id="@Model.ProjectId">@Model.ProjectName</a></li>
    <li class="breadcrumb-item active">@Model.Bug.Title</li>
</ol>

<div class="card border-primary m-3">
    <div class="card-header">
        <span>Bug #@Model.Bug.Id </span>
        <span>@await Html.PartialAsync("_BugStatus", Model.Bug.Status) </span>
        <span class="float-right"><a asp-controller="Bugs" asp-action="Edit" asp-route-id="@Model.Bug.Id">Edit</a></span>
    </div>
    <div class="card-body">
        <p class="card-subtitle text-muted">@Model.Bug.DateSubmitted</p>
        <h2 class="card-title">@Model.Bug.Title</h2>
        <p class="card-text">@Model.Bug.Description</p>
        <p class="card-text">Assigned To: @Model.Bug.Assignee - Targeted Completion: @Model.Bug.DateTargeted.ToShortDateString()</p>
    </div>
</div>

<h4 class="m-3">Comments</h4>

<div id="comments" class="container">
    @foreach (var comment in Model.Bug.Comments)
    {
        <div class="card border-secondary mb-4 ml-3" style="max-width: 30rem;">
            <div class="card-header text-muted">@comment.TimeStamp</div>
            <div class="card-body">
                <b class="card-title">@comment.SubmittedBy</b>
                <p class="card-text">@comment.Text</p>
            </div>
        </div>
    }

    <div id="newCommentCard" class="card border-secondary mb-2 ml-3" style="max-width: 30rem">
        <div class="card-header">New Comment</div>
        <div class="card-body">
            <b id="userName" class="card-title mb-3">@Model.UserName</b>
            <div>
                <textarea id="newComment" cols="50" rows="4" class="m-2"></textarea>
            </div>
            <button id="saveButton" class="btn btn-primary">Save</button>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/bootbox/dist/bootbox.js"></script>
    <script>
        $(document).ready(function()
        {
            $("#saveButton").on("click", function () {
                var commentText = $("#newComment").val().trim();
                var count = commentText.length;
                if (count !== 0)
                {
                    var vm = {
                        bugId: @Model.Bug.Id,
                        submittedBy: @Model.UserName,
                        text: commentText
                    };

                    console.log(vm.bugId);
                    console.log(vm.text);
                    console.log(vm.submittedBy);

                    bootbox.confirm("Save Comment?", function (result) {
                        if (result) {
                            console.log("confirm");
                            $.ajax({
                                url: "/api/comments",
                                method: "POST",
                                data: JSON.stringify(vm),
                                contentType: "application/json"

                            });
                        }
                    });  
                }
            });

            @*var newCommentHtml =
                "<div class='card border-secondary mb-4 ml-3' stle='max-width: 30rem'>"
                + "<div class='card-header text-muted'>" + Date.now.toString() + "</div>"
                + "<div class='card-body'>"
                + "<b class='card-title'>" + @User.Identity.Name.Split("@")[0] + "</b>"
                + "<p class='card-text'>" + $.trim($("#newComment").val()) + "</p>"
                + "</div>"
                + "</div>";
        
            $("#comments").append(newCommentHtml);*@
        });
    </script>
} 