@model BugTracker.Models.ViewModels.BugDetailVm
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item"><a asp-controller="Projects" asp-action="Index">Projects</a></li>
    <li class="breadcrumb-item"><a asp-controller="Projects" asp-action="Detail" asp-route-id="@Model.ProjectId">@Model.ProjectName</a></li>
    <li class="breadcrumb-item active">@Model.Bug.Title</li>
</ol>

<div class="jumbotron">
    <h3>@Model.Bug.Title</h3>
    <p>@Model.Bug.Description</p>
    <p>Submitted: @Model.Bug.DateSubmitted</p>
    <p>Id#: @Model.Bug.Id</p>
</div>

<div class="container">
    <span class="badge badge-info">@Model.Bug.DateSubmitted</span>
    <span class="badge badge-info">@Model.Bug.ProjectId</span>
    <span class="badge badge-info">@Model.Bug.Status</span>
</div>

<div class="container">
    @foreach (var comment in Model.Bug.Comments)
    {
        <div class="card border-primary mb-3" style="max-width: 40rem;">
            <div class="card-header">@comment.TimeStamp</div>
            <div class="card-body">
                <b class="card-title">@comment.SubmittedBy</b>
                <p class="card-text">@comment.Text</p>
            </div>
        </div>
    }

    <div class="card border-primary mb-3" style="max-width: 40rem">
        <div class="card-header">New Comment</div>
        <div class="card-body">
            <b class="card-title">TODO: Current User</b>
            <div>
                <input type="text">
            </div>
            <button class="btn btn-primary">Save</button>
        </div>
    </div>
</div>