@model BugTracker.Models.ViewModels.EditBugVm
@{
    ViewData["Title"] = "EditBugForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var datePickerDefault = Model.Bug.DateTargeted == DateTime.MinValue ?
        (DateTime.Today + TimeSpan.FromDays(14)).ToString("yyyy-MM-dd") :
        Model.Bug.DateTargeted.ToString("yyyy-MM-dd");
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item"><a asp-controller="Projects" asp-action="Index">Projects</a></li>
    <li class="breadcrumb-item"><a asp-controller="Projects" asp-action="Detail" asp-route-id="@Model.Bug.ProjectId">@Model.ProjectName</a></li>
    <li class="breadcrumb-item active">@Model.Bug.Title</li>
</ol>

<h2>Edit Bug</h2>

<div class="col-6">
    <form asp-controller="Bugs" asp-action="Save">
        <div class="form-group mt-3">
            <label asp-for="Bug.Title"></label>
            <input asp-for="Bug.Title" class="form-control" />
            <span asp-validation-for="Bug.Title"></span>
        </div>

        <div class="form-group">
            <label asp-for="Bug.Description"></label>
            <textarea asp-for="Bug.Description" class="form-control" rows="3"></textarea>
            <span asp-validation-for="Bug.Description"></span>
        </div>

        <div class="form-group">
            <label asp-for="Bug.Status"></label>
            <select asp-for="Bug.Status" asp-items="Model.CoreStatuses" id="BugStatus" class="form-control"></select>
        </div>

        <div class="form-check form-check-inline">
            <input asp-for="@Model.Assigned" type="checkbox" id="Assigned" class="form-check-input" />
            <label asp-for="@Model.Assigned" class="form-check-label"></label>
        </div>

        <div class="form-check form-check-inline">
            <input asp-for="@Model.Reopened" type="checkbox" id="Reopened" class="form-check-input" />
            <label asp-for="@Model.Reopened" class="form-check-label"></label>
        </div>

        <div class="form-group">
            <label asp-for="Bug.Assignee"></label>
            <input asp-for="Bug.Assignee" class="form-control" />
            <span asp-validation-for="Bug.Description"></span>
        </div>

        <div class="form-group">
            <label asp-for="Bug.DateTargeted"></label>
            <input type="date" asp-for="Bug.DateTargeted" value="@datePickerDefault" class="form-control" />
            <span asp-validation-for="Bug.DateTargeted"></span>
        </div>

        <input asp-for="Bug.Id" value="@Model.Bug.Id" type="hidden" />
        <input asp-for="Bug.ProjectId" value="@Model.Bug.ProjectId" type="hidden" />
        <input asp-for="@Model.ProjectName" value="@Model.ProjectName" type="hidden" />
        <input asp-for="Bug.DateSubmitted" value="@Model.Bug.DateSubmitted" type="hidden" />
        <input asp-for="Bug.DateResolved" value="@Model.Bug.DateResolved" type="hidden" />
        <input asp-for="Bug.ResolutionCommit" value="@Model.Bug.ResolutionCommit" type="hidden" />
        <input asp-for="Bug.ResolutionDescription" value="@Model.Bug.ResolutionDescription" type="hidden" />

        <button id="saveButton" type="submit" class="btn btn-primary mb-3">Save</button>
    </form>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#BugStatus").change(function () {
                var status = $("#BugStatus");
                if ((status.val() == "Closed")||(status.val() == "Resolved")) {
                    $("#Assigned").prop("checked", false);
                    $("#Reopened").prop("checked", false);
                }
            });
        });
    </script>
}