@model BugTracker.Models.ViewModels.EditBugVm
@{
    ViewData["Title"] = "EditBugForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var datePickerDefault = Model.Bug.DateTargeted == DateTime.MinValue ?
        (DateTime.Today + TimeSpan.FromDays(14)).ToString("yyyy-MM-dd") :
        Model.Bug.DateTargeted.ToString("yyyy-MM-dd");
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item"><a asp-controller="Projects" asp-action="Index">Projects</a></li>
    <li class="breadcrumb-item"><a asp-controller="Projects" asp-action="Detail" asp-route-id="@Model.Bug.ProjectId">@Model.ProjectName</a></li>
    <li class="breadcrumb-item active">@Model.Bug.Title</li>
</ol>

<h2>Edit Bug</h2>

<form asp-controller="Bugs" asp-action="Save">
    <div class="form-group">
        <label asp-for="Bug.Title"></label>
        <input asp-for="Bug.Title" class="form-control" />
        <span asp-validation-for="Bug.Title"></span>
    </div>

    <div class="form-group">
        <label asp-for="Bug.Description"></label>
        <input asp-for="Bug.Description" class="form-control" />
        <span asp-validation-for="Bug.Description"></span>
    </div>

    <div class="form-group">
        <label asp-for="Bug.Assignee"></label>
        <input asp-for="Bug.Assignee" class="form-control" />
        <span asp-validation-for="Bug.Description"></span>
    </div>

    <div class="form-group">
        <label asp-for="Bug.DateTargeted"></label>
        <input type="date" asp-for="Bug.DateTargeted" value="@datePickerDefault" class="form-control" />
        <span asp-validation-for="Bug.DateTargeted"></span>
    </div>

    @*<div class="form-group">
        <label asp-for="Bug.Status"></label>
        <select asp-for="Bug.Status" asp-items="Model.Statuses"></select>
    </div>*@

    <input asp-for="Bug.Id" value="@Model.Bug.Id" type="hidden" />
    <input asp-for="Bug.ProjectId" value="@Model.Bug.ProjectId" type="hidden" />

    <button id="saveButton" type="submit" class="btn btn-primary mb-3">Save</button>
</form>

@section Scripts
{
    <script>
        $(document).ready();

    </script>
}