@model BugTracker.Models.ViewModels.EditBugVm
@{
    ViewData["Title"] = "EditBugForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var datePickerDefault = Model.Bug.DateTargeted == DateTime.MinValue ?
        (DateTime.Today + TimeSpan.FromDays(14)).ToString("yyyy-MM-dd") :
        Model.Bug.DateTargeted.ToString("yyyy-MM-dd");
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item"><a asp-controller="Projects" asp-action="Index">Projects</a></li>
    <li class="breadcrumb-item"><a asp-controller="Projects" asp-action="Detail" asp-route-id="@Model.Bug.ProjectId">@Model.ProjectName</a></li>
    <li class="breadcrumb-item active">@Model.Bug.Title</li>
</ol>

<h2>Edit Bug</h2>

<div class="col-6">
    <form asp-controller="Bugs" asp-action="Save">
        <div class="form-group mt-3">
            <label asp-for="Bug.Title"></label>
            <input asp-for="Bug.Title" class="form-control" />
            <span asp-validation-for="Bug.Title"></span>
        </div>

        <div class="form-group">
            <label asp-for="Bug.Description"></label>
            <textarea asp-for="Bug.Description" rows="3" class="form-control" ></textarea>
            <span asp-validation-for="Bug.Description"></span>
        </div>

        <div class="form-group">
            <label asp-for="Bug.Status"></label>
            <select asp-for="Bug.Status" asp-items="Model.CoreStatuses" id="BugStatus" class="form-control"></select>
        </div>

        <div id="resolutionCommitDiv" class="form-group">
            <label asp-for="Bug.ResolutionCommit"></label>
            <input asp-for="Bug.ResolutionCommit" id="resolutionCommit" class="form-control" />
            <span asp-validation-for="Bug.ResolutionCommit"></span>
        </div>

        <div id="resolutionDescriptionDiv" class="form-group">
            <label asp-for="Bug.ResolutionDescription"></label>
            <textarea asp-for="Bug.ResolutionDescription" id="resolutionDescription" rows="3" class="form-control"></textarea>
            <span asp-validation-for="Bug.ResolutionDescription"></span>
        </div>

        <div id="assignedCheckDiv" class="form-check form-check-inline">
            <input asp-for="@Model.Assigned" type="checkbox" id="Assigned" class="form-check-input" />
            <label asp-for="@Model.Assigned" class="form-check-label"></label>
        </div>

        <div id="reopenedCheckDiv" class="form-check form-check-inline">
            <input asp-for="@Model.Reopened" type="checkbox" id="Reopened" class="form-check-input" />
            <label asp-for="@Model.Reopened" class="form-check-label"></label>
        </div>

        <div id="assignedDiv" class="form-group">
            <label asp-for="Bug.Assignee"></label>
            <input asp-for="Bug.Assignee" class="form-control" />
            <span asp-validation-for="Bug.Description"></span>
        </div>

        <div id="targetedDiv" class="form-group">
            <label asp-for="Bug.DateTargeted"></label>
            <input type="date" asp-for="Bug.DateTargeted" value="@datePickerDefault" class="form-control" />
            <span asp-validation-for="Bug.DateTargeted"></span>
        </div>

        <input asp-for="Bug.Id" value="@Model.Bug.Id" type="hidden" />
        <input asp-for="Bug.ProjectId" value="@Model.Bug.ProjectId" type="hidden" />
        <input asp-for="@Model.ProjectName" value="@Model.ProjectName" type="hidden" />
        <input asp-for="Bug.DateSubmitted" value="@Model.Bug.DateSubmitted" type="hidden" />
        <input asp-for="Bug.DateResolved" value="@Model.Bug.DateResolved" type="hidden" id="dateResolved" />

        <br />
        <button id="saveButton" type="submit" class="btn btn-primary m-3">Save</button>
        <a asp-controller="Bugs" asp-action="Detail" asp-route-id="@Model.Bug.Id" asp-route-projectId="@Model.Bug.ProjectId" class="btn btn-primary m-3">Cancel</a>
    </form>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            if ($("#BugStatus").val() == "Open") {
                $("#resolutionCommitDiv").hide();
                $("#resolutionDescriptionDiv").hide();
            }

            if ($("#BugStatus").val() == "Closed") {
                $("#assignedDiv").hide();
                $("#targetedDiv").hide();
                $("#assignedCheckDiv").hide();
                $("#reopenedCheckDiv").hide();
            }

            if ($("#BugStatus").val() == "Resolved") {
                $("#assignedDiv").hide();
                $("#targetedDiv").hide();
            }
            
            $("#BugStatus").change(function () {
                var newStatus = $("#BugStatus");
                if ((newStatus.val() == "Closed")||(newStatus.val() == "Resolved")) {
                    $("#Assigned").prop("checked", false);
                    $("#Reopened").prop("checked", false);
                    $("#dateResolved").val(new Date());

                    $("#assignedDiv").hide();
                    $("#targetedDiv").hide();
                    $("#assignedCheckDiv").hide();
                    $("#reopenedCheckDiv").hide();

                    $("#resolutionCommitDiv").show();
                    $("#resolutionDescriptionDiv").show();

                }
                if (newStatus.val() == "Open") {
                    $("Reopened").prop("checked", true);
                    $("#resolutionCommitDiv").hide();
                    $("#resolutionDescriptionDiv").hide();

                    $("#assignedDiv").show();
                    $("#targetedDiv").show();
                }
            });
        });
    </script>
}