@model BugTracker.Models.ViewModels.BugIndexVm
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active">Issues</li>
</ol>

<h3>Issues</h3>

<a asp-controller="Bugs" asp-action="New" class="btn btn-primary m-3">Add New</a>

<table class="table" id="bugTable">
    <thead>
        <tr>
            <th class="col-width-5">Id</th>
            <th class="col-width-10">Project</th>
            <th class="col-width-20">Title</th>
            <th class="col-width-35">Description</th>
            <th class="col-width-10">Status</th>
            <th class="col-width-10">Submitted</th>
            <th class="col-width-10">Severity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bug in Model.Bugs)
        {
            <tr>
                <td>
                    @bug.Id
                </td>
                <td>
                    @Model.Projects.FirstOrDefault(p=>p.Id==bug.ProjectId)?.Title
                </td>
                <td>
                    <a asp-controller="Bugs" asp-action="Detail" asp-route-projectId="@bug.ProjectId" asp-route-id="@bug.Id">@bug.Title</a>
                </td>
                <td>
                    @bug.Description
                </td>
                <td>
                    <partial name="_BugStatus" for=@bug.Status />
                </td>
                <td>
                    @bug.DateSubmitted.Date.ToShortDateString()
                </td>
                <td>
                    <partial name="_BugSeverity" for="@bug.Severity"/>
                </td>
            </tr>
        }

    </tbody>
</table>

@section Scripts{ 
<script>
    $(document).ready(function () {
        $("#bugTable").DataTable({
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "pageLength": 25
        });
    });
</script>
}