@model BugTracker.Models.ViewModels.BugIndexVm
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active"><a asp-controller="Bugs" asp-action="Index">Issues</a></li>
</ol>

<h1>Open Issues</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Project</th>
            <th>Title</th>
            <th class="col-width-40">Description</th>
            <th>Status</th>
            <th>Submitted</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bug in Model.Bugs)
        {
            <tr>
                <td>
                    @bug.Id
                </td>
                <td>
                    @Model.Projects.FirstOrDefault(p=>p.Id==bug.ProjectId)?.Title
                </td>
                <td>
                    @bug.Title
                </td>
                <td class="col-width-40">
                    @bug.Description
                </td>
                <td>
                    <partial name="_BugStatus" for=@bug.Status />
                </td>
                <td>
                    @bug.DateSubmitted.Date.ToShortDateString()
                </td>
                <td>
                    <a asp-controller="Bugs" asp-action="Detail" asp-route-projectId="@bug.ProjectId" asp-route-id="@bug.Id">Details</a>
                </td>
            </tr>
        }

    </tbody>
</table>

