@model Project
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var TotalBugs = Model.Bugs.Count;
    var OpenBugs = Model.Bugs.Where(b => ((b.Status & BugStatus.Open) == BugStatus.Open)).Count();
    var ClosedBugs = Model.Bugs.Where(b => ((b.Status & BugStatus.Closed) == BugStatus.Closed)).Count();
    var UnassignedBugs = OpenBugs - Model.Bugs.Where(b => ((b.Status & BugStatus.Assigned) == BugStatus.Assigned)).Count();
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item"><a asp-controller="Projects" asp-action="Index">Projects</a></li>
    <li class="breadcrumb-item active">@Model.Title</li> 
</ol>

<h3>@Model.Title</h3>

<div class="container">
    <div class="row no-gutters">
        <div class="col-4">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Total Bugs
                    <span class="badge badge-primary badge-pill">@TotalBugs</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Open Bugs
                    <span class="badge badge-primary badge-pill">@OpenBugs</span>
                </li>
            </ul>
        </div>
        <div class="col-4">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Closed Bugs
                    <span class="badge badge-primary badge-pill">@ClosedBugs</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Unassigned Bugs
                    <span class="badge badge-primary badge-pill">@UnassignedBugs</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<a asp-controller="Bugs" asp-action="New" 
   asp-route-projectId="@Model.Id" 
   asp-route-projectName="@Model.Title" 
   class="btn btn-primary m-3">Add New</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th class="col-width-40">Description</th>
            <th>Status</th>
            <th>Submitted</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bug in Model.Bugs)
        {
            <tr>
                <td>
                    @bug.Id
                </td>
                <td>
                    @bug.Title
                </td>
                <td class="col-width-40">
                    @bug.Description
                </td>
                <td>
                    <partial name="_BugStatus" for=@bug.Status />
                </td>
                <td>
                    @bug.DateSubmitted.Date.ToShortDateString()
                </td>
                <td>
                    <a asp-controller="Bugs" asp-action="Detail" asp-route-projectId="@Model.Id" asp-route-id="@bug.Id" >Details</a>
                </td>
            </tr>
        }

    </tbody>
</table>

@*@section Scripts{ 
<script>
    $(Document).ready(function () {

    });
</script>
}*@ 