@model Project
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var TotalBugs = Model.Bugs.Count;
    var OpenBugs = Model.Bugs.Where(b => ((b.Status & BugStatus.Open) == BugStatus.Open)).Count();
    var ClosedBugs = Model.Bugs.Where(b => ((b.Status & BugStatus.Closed) == BugStatus.Closed)).Count();
    var UnassignedBugs = OpenBugs - Model.Bugs.Where(b => ((b.Status & BugStatus.Assigned) == BugStatus.Assigned)).Count();
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Projects</a></li>
    <li class="breadcrumb-item active">@Model.Title</li> 
</ol>

<h3>@Model.Title</h3>

<div>
    <span class="badge badge-info">Total Bugs: @TotalBugs</span>
    <span class="badge badge-info">Open Bugs: @OpenBugs</span>
    <span class="badge badge-info">Closed Bugs: @ClosedBugs</span>
    <span class="badge badge-info">Unassigned Bugs: @UnassignedBugs</span>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>DateSubmitted</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bug in Model.Bugs)
        {
            <tr>
                <td>
                    @bug.Id
                </td>
                <td>
                    @bug.Title
                </td>
                <td>
                    @bug.Description
                </td>
                <td>
                    @bug.Status
                </td>
                <td>
                    @bug.DateSubmitted
                </td>
                <td>
                    <a asp-controller="Bugs" asp-action="Detail">Details</a>
                </td>
            </tr>
        }

    </tbody>
</table>
