@model BugTracker.Models.ViewModels.EditProjectVm 
@{
    ViewData["Title"] = "EditProjectForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item"><a asp-controller="Projects" asp-action="Index">Projects</a></li>
    <li class="breadcrumb-item"><a asp-controller="Projects" asp-action="Detail" asp-route-id="@Model.Project.Id">@Model.Project.Id</a></li>
    <li class="breadcrumb-item active">@Model.Project.Title</li>
</ol>

<h1>Edit Project</h1>

<div class="col-6">
    <form asp-controller="Projects" asp-action="Save">
        <div class="form-group">
            <label asp-for="@Model.Project.Title"></label>
            <input asp-for="@Model.Project.Title" class="form-control"/>
            <span asp-validation-for="@Model.Project.Title"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Project.Repo"></label>
            <input asp-for="@Model.Project.Repo" class="form-control"/>
            <span asp-validation-for="@Model.Project.Repo"></span>
        </div>
        
        <input asp-for="@Model.Project.Id" value="@Model.Project.Id" type="hidden" />

        <button id="saveButton" type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
