@model IEnumerable<BugTracker.Models.Project>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active">Projects</li>
</ol>

<h3>Projects</h3>

<p>
    <a asp-controller="Projects" asp-action="New" class="btn btn-primary m-3">Add New</a>
</p>
<table class="table" id="projectsTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model=>model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Total Bugs
            </th>
            <th>
                Open Bugs
            </th>
            <th>
                Resolved Bugs
            </th>
            <th>
                Closed Bugs
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                <a asp-action="Detail" asp-route-id="@item.Id">@item.Title</a>
            </td>
            <td>
                @item.Bugs.Count
            </td>
            <td>
                @item.Bugs.Where(bug => ((bug.Status & BugStatus.Open) == BugStatus.Open)).Count()
            </td>
            <td>
                @item.Bugs.Where(bug => ((bug.Status & BugStatus.Resolved) == BugStatus.Resolved)).Count()
            </td>
            <td>
                @item.Bugs.Where(bug => ((bug.Status & BugStatus.Closed) == BugStatus.Closed)).Count()
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{ 
<script>
    $(document).ready(function () {
        $("#projectsTable").DataTable({
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "pageLength": 25
        });
    });
</script>
} 