@model IEnumerable<BugTracker.Models.Project>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Projects</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model=>model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Open Bugs
            </th>
            <th>
                Total Bugs
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Title
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id"> @item.Bugs.Where(bug=>((bug.Status&BugStatus.Open)==BugStatus.Open)).Count()</a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@item.Bugs.Count</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
